<!DOCTYPE html>
<html lang="en">
    <head>
        <title>File Metadata Microservice</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .example {color: red;}
        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div class='container-fluid'>
            <div>
                Created by Dave Smith (lah4life)
            </div>
            <div>
                <div>
                    <h1>API Basejump: File Metadata Microservice</h1>
                </div>
                <div class=''>
                    <h3> User Stories: </h3>
                    <ul class='list-group'>
                        <li class='list-group-item'>I can submit a FormData object that includes a file upload.</li>
                        <li class='list-group-item'>When I submit something, I will receive the file size in bytes within the JSON response</li>
                    </ul>
                </div>
                <div>
                    <h3>Usage:</h3>
                    <ol class='list-group'>
                        <li class='list-group-item'>Go to: <a href=https://nameless-ravine-88478.herokuapp.com/upload>https://nameless-ravine-88478.herokuapp.com/upload</a></li>
                        <li class='list-group-item'>Choose a file and click Submit</li>
                    </ol>
                    <h3>Example output (size is in bytes):</h3>
                    <ul class='list-group'>
                        <li class='list-group-item example'>{"size": 554698}</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>